/* Form - centered with a drop shadow*/
.lfMn .lfAppFormArea .lfFormBox {
    -moz-box-shadow: 5px 5px 12px #AEA4A4;
    -webkit-box-shadow: 5px 5px 12px #AEA4A4;
    box-shadow: 5px 5px 12px #AEA4A4;
    margin-right: auto; 
    margin-left: auto; 
 }
 
 
 /* Text (item titles) - medium blue */
 .lfMn .lfFormLabel {
    color: #094291 !important;
 }
 
 
 /* Section - title bar red background and white text */
 .lfMn .lfFormFieldSectionTitle {
    background: #cd111f !important;
    color: white !important;
    font-size: 13px !important;
    font-weight: bold !important;
 }
 .lfMn .lfFormFieldSectionTitle .lfFormLabel {
    color: white !important;
 }
 
 /* Tabs - dark-blue background with white text */
 .lfMn .lfFormFieldTabFolder .lfFormFieldTab {
    background:#1556a8;
    border-top-color:#666;
    border-right-color:#666;
    border-left-color:#666;
 }
 .lfMn .lfFormFieldTabFolder .lfFormFieldTab * {
    color: white;
 }
 
 
 /* Tabs (selected) - white background with black text */
 .lfMn .lfFormFieldTabFolder .lfFormFieldTabChecked, 
 .lfMn.lotusui .lfFormFieldTabFolder .lfFormFieldTabCheckedHover,
 .lfMn.lotusui .lfFormFieldTabFolder .lfFormFieldTabCheckedError {
    background: white;
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-left-color:#ccc;
 }
 .lfMn .lfFormFieldTabFolder .lfFormFieldTabChecked * {
    color: #222 !important;
 }
 
 
 /* Button (Submit) - light blue background */
 .lfMn .lfFormBtn.lfFormActionSubmitBtn {
    font-size: 12px;
    background: #93bef3;
    border: 1px solid #222;
    font-weight: bold;
 }
 .lfMn .lfFormBtn.lfFormActionSubmitBtn * {
    font-weight: bold;	
 }
 
 
 /* Button (Page Navigation) - dark blue background with white text*/
 .lfMn .lfPageNavigation .lfFormBtn {
    background: #1556a8 !important;
    border: 1px solid #222;
 }
 .lfMn .lfPageNavigation .lfFormBtn *, 
 .lfMn .lfPageNavigation .lfFormBtn *
 {
    color: white !important;
    font-weight: bold;
 }