.lfMn.dleap .lfAppFormArea .lfFormBox {
    margin-right: auto;
    margin-left: auto;
    padding: 10px !important;
    border: none !important;
    -moz-box-shadow: 5px 5px 12px #AEA4A4;
    -webkit-box-shadow: 5px 5px 12px #AEA4A4;
    box-shadow: 5px 5px 12px #AEA4A4;
}

.lfMn .lfAppFormArea .lfFormFieldError {
    color: #a30f20 !important;
}
 
.lfMn .lfAppFormArea .lfFormFieldHint {
    color: #8f8f8f !important;
}
 
.lfMn .lfAppFormArea .lfFormBtn.lfFormActionSubmitBtn {
    background: #f5645b !important;
    border: 1px solid  !important;
    border-width: 2px !important;
    border-color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormBtn.lfFormActionCancelBtn * {
    color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormBtn.lfFormActionCancelBtn {
    border-color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormBtn.lfFormNextBtn * {
    color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormBtn.lfFormNextBtn {
    border-color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormBtn.lfFormBackBtn * {
    color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormBtn.lfFormBackBtn {
    border-color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormBtn {
    border-radius: 5px !important;
}
 
.lfMn .lfAppFormArea .lfFormFieldButton .lfFormBtn * {
    color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormFieldButton .lfFormBtn {
    border-color: #f5645b !important;
}
 
.lfMn .lfAppFormArea .lfFormFieldSection .lfFormFieldSectionTitle {
    background: #f5645b !important;
    border-radius: 5px 5px 0px 0px !important;
}

.lfMn .lfFormFieldSectionBody, .lfMn .lfAppFormArea .lfFormFieldTabFolder .lfFormFieldTab, .lfMn .grid-layout-table .grid-layout-cell > .lfFormField.lfFormFieldSection {
    border-radius: 5px 5px 0px 0px !important;
}
 
.lfMn .lfAppFormArea .lfFormFieldTabFolder .lfFormFieldTab:not(.lfFormFieldTabChecked) * {
    color: #f5645b !important;
}
 
.lfMn.lotusui30dojo .dijitTextBox .dijitInputInner {
    padding: 6px !important;
}

.lfMn.lotusui30dojo .dijitTextBox {
    border-radius: 5px !important;
}